@page "/AnalyticsView"
@using P_3FA132_Gruppe_3_Frontend.Data.Models.Classes
@using P_3FA132_Gruppe_3_Frontend.Pages.Components
@inherits Blazing.Mvvm.Components.MvvmComponentBase<P_3FA132_Gruppe_3_Frontend.Data.ViewModels.AnalyticsViewModel>

<h3>AnalyticsView</h3>
<div class="customer-count analytics-widget-container card">
    @if(ViewModel.Loading)
    {
        <LoadingSpinner></LoadingSpinner>
    }
    else
    {
        <Count TValue="int" Title="Customer Count" Value="ViewModel.CustomerCount"></Count>
    }
</div>
<div class="reading-count analytics-widget-container card">
    @if(ViewModel.Loading)
    {
        <LoadingSpinner></LoadingSpinner>
    }
    else
    {
        <Count TValue="int" Title="Reading Count" Value="269"></Count>
    }
</div>
<div class="reading-type-donut analytics-widget-container card">
    @if(ViewModel.Loading)
    {
        <LoadingSpinner></LoadingSpinner>
    }
    else
    {
        <ReadingType Items="ViewModel.ReadingData"></ReadingType>
    }
</div>
