@page "/ExportView"
@using CommunityToolkit.Mvvm.ComponentModel
@using P_3FA132_Gruppe_3_Frontend.Data.Models.Classes
@using P_3FA132_Gruppe_3_Frontend.Data.Services
@inherits Blazing.Mvvm.Components.MvvmOwningComponentBase<P_3FA132_Gruppe_3_Frontend.Data.ViewModels.ExportViewModel>
@inject IJSRuntime JSRuntime
@inject CsvService csvService
@inject CustomerService customerService

<h3>ExportView</h3>

<button @onclick="Call">export customer with readings</button>
<button @onclick="ExportCustomers">Export all Customers</button>
<button @onclick="ExportReadings">Export all Readings</button>

@code {
    [ObservableProperty] private bool csvSelected;
    [ObservableProperty] private bool jsonSelected;
    [ObservableProperty] private bool xmlSelected;
    
    private IEnumerable<Customer>? _customers;
    
    protected override async Task OnInitializedAsync()
        
    {
        await base.OnInitializedAsync();
        _customers = await customerService.GetAll();
        
        
    }
    
    private async Task Call()
    {
        string test = await csvService.CreateReadingCsvFromCustomer(_customers.First());

        string fileName = "output.csv";
        
        await JSRuntime.InvokeVoidAsync("DownloadCsv", test, fileName);
    }

    private async Task ExportCustomers()
    {
        if (false)
        {
            string values = await csvService.CreateAllCustomersCsv();
            string fileName = "customers.csv";
            await JSRuntime.InvokeVoidAsync("DownloadAllCustomersCsv", values, fileName);
        }
        else if (true)
        {
            string values = await csvService.CreateAllCustomersXml();
            string fileName = "customers.xml";
            await JSRuntime.InvokeVoidAsync("DownloadAllCustomersCsv", values, fileName);
        }
        else if (jsonSelected)
        {
            string values = await csvService.CreateAllCustomersJson();
            string fileName = "customers.json";
            await JSRuntime.InvokeVoidAsync("DownloadAllCustomersJson", values, fileName);
        }
        
    }

    private async Task ExportReadings()
    {
        if (csvSelected)
        {
            string values = await csvService.CreateAllReadingsCsv();
            string fileName = "readings.csv";
            await JSRuntime.InvokeVoidAsync("DownloadAllReadingsCsv", values, fileName); 
        }
        else if (xmlSelected)
        {
            string values = await csvService.CreateAllReadingsXml();
            string fileName = "readings.xml";
            await JSRuntime.InvokeVoidAsync("DownloadAllReadingsXml", values, fileName); 
        }
        else if (jsonSelected)
        {
            string values = await csvService.CreateAllReadingsJson();
            string fileName = "readings.json";
            await JSRuntime.InvokeVoidAsync("DownloadAllReadingsJson", values, fileName); 
        }
        
        
    }
    
    
}