@page "/"

@using P_3FA132_Gruppe_3_Frontend.Data.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthService  AuthService
<PageTitle>Digital Property Management</PageTitle>

<div class="home-greeting">
    <p>Servus.
        </p>
</div>



@code {
    protected override async Task OnInitializedAsync()
    {
        if (!await AuthService.AuthenticationEnabled())
        {
            await AuthService.Login(null, null);
            StateHasChanged();
        }
        await base.OnInitializedAsync();
    }
}
