@page "/"

@using P_3FA132_Gruppe_3_Frontend.Data.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthService  AuthService
<PageTitle>Digital Property Management</PageTitle>

<div class="home-greeting">
    <p>Servus.
        </p>
    <AuthorizeView>
        <Authorized>
            <p>@AuthService.AuthenticatedUsername</p>
        </Authorized>
    </AuthorizeView>
</div>



@code {
}
