erikm.db.url = localhost:3306/homeautomation
erikm.db.user = root
erikm.db.pw = root

chris.db.url = localhost:3306/homeautomation
chris.db.user = root
chris.db.pw = root

xkroax.db.url = localhost:3306/homeautomation_test
xkroax.db.user = xkarox
xkroax.db.pw = 1234

saltySecret = VerySecretSecretKeyxD
default.admin.username = admin
default.admin.password = TestAdmin