# Sprint 1
1. Implement customer from interface
2. Implement reading from interface
# CRUD
3. Create Customer
4. Read Customer
5. Update Customer
6. Delete Customer
7. List Customers

8. Create Reading
9. Read Reading
10. Update Reading
11. Delete Reading
12. List Readings

13. Database connection
# Misc
14. When deleting a user all readings associated with that user should still be available but with a null reference as id
15. There should be no reading without a user
16. When a reading is added with a user that does not exist, the user should be created
17. User db logins should be loaded from a properties file
# Sprint 2
18. Implement CRUD server
# REST
19. Implement customer post
20. Implement readings post
21. Implement customers put
22. Implement readings put
23. Implement customers get
24. Implement customers id get
25. Implement readings id get
26. Implement setupDb delete
27. Implement readings id delete
28. Implement customers id delete
29. Implement readings parameter get
30. Implement customer json validation
31. Implement reading json validation