@using ChartJs.Blazor.BarChart
@using ChartJs.Blazor;
@using ChartJs.Blazor.BarChart.Axes
@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Common.Axes
@using ChartJs.Blazor.Common.Enums
@using P_3FA132_Gruppe_3_Frontend.Data.Models.Classes

<div class="usage-bar-widget chart">
    <Chart Config="_config" ref="@_chart"></Chart>
</div>

@code {
    [EditorRequired] [Parameter] public List<Reading> Items { get; set; }
    private Chart _chart;
    private BarConfig _config;
    private string[] monthLabels = new []
    {
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    };

 
    protected override void OnInitialized()
    {
        _config = new BarConfig()
        {
            Options = new BarOptions()
            {
                Responsive = true,
                MaintainAspectRatio = false,
                Legend = new Legend
                {
                    Position = Position.Top,
                    Display = true,
                },
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Usage per Month"
                },
            },
        };
        
        // var data = CalculateAverageUsagePerMonth();
        var data = new int[] { 20, 30, 20, 10, 5, 35, 70, 35, 60, 70, 80, 50, };
        IDataset<int> dataset1 = new BarDataset<int>(data, horizontal: true)
        {
            Label = "My first dataset",
            BackgroundColor = "rgba(1, 0, 1, 1.0)",
            BorderColor = "rgba(245, 40, 145, 1)",
            BorderWidth = 10,
        };

        foreach (var month in monthLabels)
        {
            _config.Data.Labels.Add(month);
        }
        _config.Data.Datasets.Add(dataset1);
    }

    private IEnumerable<int> CalculateAverageUsagePerMonth()
    {
        var avgPerMonth = new int[12];
        for (var i = 0; i < 12; i++)
        {
            var i1 = i;
            var currentReadings = Items.Where(reading => reading.DateOfReading!.Value.Month == i1 + 1);
            var readingCount = currentReadings.Count();
            var sum = currentReadings.Sum(reading => reading.MeterCount);
            Console.WriteLine($"{sum} / {readingCount}");
            avgPerMonth[i] = (int)(sum / readingCount);
        }
        
        return avgPerMonth;
    }
}