
@using Microsoft.AspNetCore.Components.Authorization
@using P_3FA132_Gruppe_3_Frontend.Data.Services
@inject IJSRuntime JSRuntime
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<nav class="sidebar">
    <SideBarItem Text="Home" IconName="dashboard"  Href="/"/>
    <AuthorizeView>
        <Authorized>
            <SideBarItem Text="Customer Management" IconName="customers" Href="/CustomerManagementView"/>
            <SideBarItem Text="Import/Export" IconName="Importexport"  Href="/ImportExportView"/>
            <SideBarItem Text="Analytics" IconName="analytics"  Href="/AnalyticsView"/>

            <SideBarItem Text="Reading Management" IconName="readings"  Href="/ReadingManagementView"/>
            <SideBarItem Text="Import" IconName="import" Href="/ImportView"/>
                <SideBarItem Text="Export" IconName="export" Href="/ExportView"/>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
            @if (AuthService.AuthnEnabled)
            {
                <SideBarItem Text="Logout" IconName="logout" OnClickFunc="@Logout"/>
            }
        </Authorized>
        <NotAuthorized>
            <SideBarItem Text="Login" IconName="login" OnClickFunc="@OpenLoginModal"/>
        </NotAuthorized>
    </AuthorizeView>
</nav>

<AuthComponent Show="@showComp"/>

<style>
    .sidebar {
        width: 5.4rem;
        min-width: 5.4rem;
        padding: 1rem;
        transition: width 0.3s ease-in-out;
        overflow: hidden;
        max-height: 100vh;
    }
    
    .sidebar:hover {
        width: 15rem;
        transition: width 0.3s ease-in-out;
    }
</style>

<script>
    function initializeSidebar(dotNetHelper) {
        const sidebar = document.getElementsByClassName("sidebar")[0];
        sidebar.addEventListener('mouseenter', () => {
            dotNetHelper.invokeMethodAsync('SetHoverState', true);
        });
        sidebar.addEventListener('mouseleave', () => {
            dotNetHelper.invokeMethodAsync('SetHoverState', false);
        });
    }
</script>

@code {
    private ElementReference _sidebarElement;
    private bool _isHovered;
    private DotNetObjectReference<SideBar> _dotNetRef = null!;
    public bool showComp = false;

    [JSInvokable]
    public void SetHoverState(bool hoverState)
    {
        _isHovered = hoverState;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetRef = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("initializeSidebar", _dotNetRef);
        }
    }

    public async Task Logout()
    {
        AuthService.Logout();
        showComp = false;
        NavigationManager.NavigateTo("/");
        StateHasChanged();
    }

    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }

    public Task OpenLoginModal()
    {
        showComp = !showComp;
        Console.WriteLine($"ShowComp = {showComp}");
        StateHasChanged();
        return Task.CompletedTask;
    }
}