@using Microsoft.AspNetCore.Components.Authorization
<div class="debug-monitor">
    <p>Authentication Status:</p>
    <AuthorizeView>
        <NotAuthorized><div class="not-authorized">Not Authenticated</div></NotAuthorized>
        <Authorized ><div class="authorized">Authorized</div></Authorized>
    </AuthorizeView>
</div>
<style>
    .debug-monitor {
        z-index: 9999999999999999999999999999999999999999999999999999;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .authorized {
        color:  lime;
    }
    
    .not-authorized {
        color:  red;
    }
</style>

@code {
    
}