.apexcharts-svg
{
    background: none;
}

.analytics-widgets {
    display: flex;
    flex-wrap: wrap;          /* Allows widgets to wrap onto the next row */
    gap: 20px;                /* Space between widgets */
    justify-content: space-between; /* Even spacing in each row */
    align-items: stretch;     /* Makes items in the same row equal height */
    padding: 20px;            /* Optional: adds some padding around the container */
}

.analytics-widget-container {
    position: relative;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;   /* Ensures padding and border are included in the item’s width */
}

.customer-count {
    flex: 1 1 25px;
    min-width: fit-content;
    max-width: fit-content;
    height: fit-content;
    width: fit-content;
}

.reading-count {
    flex: 1 1 25px;
    min-width: fit-content;
    max-width: fit-content;
    height: fit-content;
    width: fit-content;
}

.reading-type-donut {
    flex: 0 0 48rem;
    min-width: 48rem;
    height: 30rem;
    width: 48rem;
    color: var(--color-primary)
}

.recent-reading {
    flex: 1 1 25px;
    min-width: fit-content;
    max-width: fit-content;
    height: fit-content;
    width: fit-content;
}

