.apexcharts-svg
{
    background: none;
}

.analytics-widget-container {
    position: relative;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-count {
    height: fit-content;
    width: fit-content;
}

.reading-count {
    height: fit-content;
    width: fit-content;
}

.reading-type-donut {
    height: 30rem;
    width: 48rem;
    color: var(--color-primary)
}