.spinner {
    border: 0.2rem solid transparent;
    border-top: 0.2rem solid var(--color-primary);
    border-bottom: 0.2rem solid var(--color-primary);
    border-radius: 50%;
    animation: 
            spin 700ms linear infinite;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 42.5%;
    left: 42.5%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

